/* ---------- Class selectors ---------- */
.date {
    text-align: center;
    color: var(--highlight-colour);
    padding: 0%;
}

.content {
    display: flex;
    text-align: start;
    justify-content: space-between;
}

/* ---------- Overriding jsdilvr CSS for timeline ---------- */
.timeline-navigation a {
	display: inline;
    	text-decoration: none;
    	color: var(--highlight-colour2);
}

.timeline-navigation a:hover {
	color: var(--highlight-colour);
	border-color: var(--highlight-colour);
}

.horizontal-timeline .events-content .progressBar, 
.horizontal-timeline .filling-line,
.horizontal-timeline .events a.selected::after, 
.horizontal-timeline .events a.older-event::after {
	background-color: var(--highlight-colour);
}


.horizontal-timeline .events a {
    color: var(--text-colour);
    width: 100px;
    
}

.horizontal-timeline .events,
.horizontal-timeline .events a::after {
    background: var(--highlight-colour2);
}

.horizontal-timeline .events-content li[data-horizontal-timeline] {
    background: rgba(150, 141, 136, 10%);
    text-align: start;
}

