
:root {
    --background-colour: #F4F3EE;
    --text-colour: #433C38;
    --highlight-colour: #DCA493;
    --highlight-colour2: #968D88;
}

/* need to figure out selection colours */

/* ----- Element Selectors, adjusting page stylings after reset.css is applied ----- */
html {
    font-size: 63%;
}

body {
    font-family: 'Lato','SF Pro Text','SF Pro Icons','Helvetica Neue','Helvetica','Arial', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--text-colour);
    background-color: var(--background-colour);
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.65rem;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Bebas Neue','SF Pro Text','SF Pro Icons','Helvetica Neue','Helvetica','Arial', sans-serif;
    margin-top: 10px;
    color:  var(--highlight-colour)
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    font-style: italic;
}

h4 {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Bebas Neue','SF Pro Text','SF Pro Icons','Helvetica Neue','Helvetica','Arial', sans-serif;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.4rem;
    white-space:pre-wrap;
}


a {
    text-decoration: none;
    border-radius: 5px;
    color: var(--highlight-colour);
    font-weight: bolder;
}

a:hover {
    color: var(--highlight-colour2);
}


.background-image {
    /* background-image: url(../images/dreamstime_xxl_131606737_1200.jpg); */
}

.element-center {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.title {
    text-align:center;
    font-size: 8rem;
    margin-bottom: 0.5vh;
    margin-top: 0.6vh;
    
}

.search-field {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 30vw;
    height: 3vh;
    text-align: center;
    font-size: 1.5em;
}

.search-button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 31vw;
    height: 5vh;
    text-align: center;
    font-size: 1.5em;
}

.main-nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.75rem;
}

.search-field-narrow {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 14vw;
    height: 1.5vh;
    text-align: center;
    font-size: 0.9em;
}

.search-button-narrow {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 15.5vw;
    height: 3.3vh;
    text-align: center;
    font-size: 0.9em;
}

.hidden-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 32.5vh;
}

.p-1 {
    padding:5px;
}

.p-2 {
    padding:10px;
}

.p-3 {
    padding:15px;
}

#result-artist-bio {
    padding: 10px;
    align-items: center;
}